<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Vandaag de dag is voorsprong op de concurrentie van steeds meer belang, sneller in kunnen spelen op trends & innovatie in een die wereld steeds complexer en onvoorspelbaarheid wordt. Met de Rubix Continuous Delivery Diensten zorgen we er voor dat bedrijven snel kunnen blijven schakelen aangezien wendbaar en op ‘adapt for change’ kunnen blijven schakelen (Time-to-Market), het gehele voortbrengingsproces wordt onder de loop genomen zodanig dat een efficiënter flow zal gaan ontstaan.

Continuous Delivery/ DevOps is hierbij niet meer weg te denken in moderne ICT-oplossingen, de versnelling die bereikt kan worden ligt vast in de CD/DevOps-succes-driehoek, zie figuur:
</p>
<img >
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
