<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"> Onze missie is om traditionele integraties de focus te leggen in de data die tussen systemen stroomt om te zetten in intelligent
                  data-flow, Streaming Intelligence. Hiermee openen nieuwe inzichten die vooral in het moment direct waarde kunnen toevoegen in business beslissingen.
</p>
<!-- <p><img src="img/Picture1.png" style="width: 300px;"></p> -->
<hr>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
