<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                  <hr class="primary">
                <p class="text-faded"> Onze missie is om in traditionele integraties te focussen in de data-flow die tussen systemen stroomt en deze om te zetten in intelligente
                  stroom aan nieuwe inzichten en combinaties, zodat hiermee nieuwe business kansen ontstaan.
<br/><br/>
Er volgt binnenkort meer over onze aanpak en services/diensten!

</p>
<!-- <p><img src="img/Picture1.png" style="width: 300px;"></p> -->
<hr>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
